@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

/* https://stackoverflow.com/questions/33776171/how-to-use-css-calc-with-an-elements-height */

body {
    font-family: 'Rubik';
    margin:0px;
    overflow: hidden;
}

    header {
        display: grid;
        grid-template-columns: 1fr max-content 2.5%;
        margin: 25px;
    }

        .header_title {
            color: rgba(40, 40, 40, 0.809);
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 1.15rem;
        }

        div.links_container {
            display: grid;
            grid-template-columns: max-content max-content;
        }

            .header_link {
                text-decoration: none;
                color: rgba(40, 40, 40, 0.55);
                padding-right: 1em;
                font-size: small;
            }

    div.app_root {
        height: calc(100vh - 100px);
    }

        div.game_main {

            height: 100%;

            display: grid;
            grid-template-columns: 4fr 2fr;
            
            margin-left: 1%;
            margin-right: 5%;
            margin-top: 20px;
            
            background-color: rgb(255, 255, 255);
            
        }

            div.canvas_parent {

                background-color: white;
            }


            div.side_panel {
                background-color: rgb(228, 228, 228);
                
                display: grid;
                grid-template-rows: auto 3fr 1fr;

                margin-right: 5%;
                margin-left: 10%;
                margin-top: 10%;
                margin-bottom: 10%;

                border-style: solid;
                border-width: 1px;
                border-color: rgb(200, 200, 200);
                border-radius: 5px;

                padding: 5px;

            }
                
                /* Dialog of text for user */
                div.user_text_div {
                    background-color: #f8f8f8;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(42, 42, 42);
                    padding: 5px;
                    margin-bottom: 8px;
                    border-radius: 5px;
                    overflow-y: scroll;
                    height: 50px;
                    font-size: small;
                    white-space: pre-wrap;

                }

                /* Block for starting/joining new game */
                div.game_setup_controls {

                    background-color: rgb(236, 240, 245);
                    padding-top: 10px;
                    padding-left: 5px;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template: auto 1fr / auto 1fr;

                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(144, 144, 144);
                    border-radius: 5px;
                }

                    div.core_controls {
                        grid-row-start: 2;
                        grid-column-start: 2;
                    }
            
                    button {
                        border-radius: 5px;
                        background-color: rgb(117, 145, 176);
                        color: white;
                    }
                        /* Text that appears when loading game */
                        p.fetching_info {

                            font-size: small;
                            color: rgb(69, 69, 69);
                        }

                /* Block for controlling on/off audio and visual cues */
                div.in_game_settings {
                    font-size: small;
                    padding-left: 5px;

                    border-style: solid;
                    border-width: 1px;
                    border-color: rgb(189, 189, 189);
                    border-radius: 5px;

                    color: rgb(118, 117, 117);


                }







