/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); */
/* https://stackoverflow.com/questions/33776171/how-to-use-css-calc-with-an-elements-height */


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body, html {
    font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
    margin:0px;
    overflow: hidden;
}

    header {
        display: grid;
        grid-template-columns: 1fr max-content;
        margin: 21px;
        margin-right: 5%;
        align-items: center;

        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
    }

        .header_title {
            color: rgb(69, 69, 69);
            padding-left: 1em;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 1.35rem;
            display: inline-block;
            cursor: pointer;
        }

        div.header_menu {
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
        }

            a.header_link {
                display: grid;
                grid-template-columns: auto auto;
                text-decoration: none;
                align-items: center;
                margin-right: 20px;

            }

                img.header_link_img {
                    height: 20px;
                    width: 20px;
                    margin-right: 4px;
                    filter: opacity(50%);
                    transition: all .1s ease-in-out;
                }

                    /* picking parent element but applying transformation only to matching child*/
                    a.header_link:hover .header_link_img {
                        /* transform: rotate(10deg); */
                        transform: scale(1.05);
                    }
                    
                        /* https://angel-rs.github.io/css-color-filter-generator/ | https://color-hex.org */

                        a.header_link:hover .header_rules {
                            filter: brightness(0) saturate(100%) invert(66%) sepia(7%) saturate(4551%) hue-rotate(192deg) brightness(87%) contrast(92%);
                        }

                        a.header_link:hover .header_github {
                            filter: opacity(75%);
                        }

                        a.header_link:hover .header_support {
                            filter: invert(51%) sepia(10%) saturate(3968%) hue-rotate(73deg) brightness(91%) contrast(75%);
                        }

                .header_link_text {
                    color: rgba(40, 40, 40, 0.7);
                    font-size: small;
                    transition: all .1s ease-in-out;
                }

                    a.header_link:hover .header_link_text {
                        color: rgba(40, 40, 40, 0.85);
                    }

    div.app_root {
        height: calc(90vh);
    }

        div.game_main {

            height: 100%;

            display: grid;
            grid-template-columns: 7fr 2fr;
            
            margin-left: 1%;
            margin-right: 5%;
            margin-top: 20px;
            
            background-color: white;
            
        }

            div.canvas_parent {
                background-color: white;
            }

                div.canvas_parent:first-child {
                    cursor: crosshair;
                }


            div.side_panel {
                /* background-color: rgb(228, 228, 228); */
                
                display: grid;
                grid-template-rows: auto 3fr 1fr;

                margin-right: 5%;
                margin-left: 0%;
                padding-top: 20%;
                padding-bottom: 25%;

                /*
                border-style: solid;
                border-width: 1px;
                border-color: rgb(200, 200, 200);
                border-radius: 5px;
                */

                align-items: center; /* vertical alignment */

            }
                
                /* Dialog of text for user */
                div.user_text_div {
                    background-color: rgb(253, 253, 253);
                    border-width: 2px;
                    border-style:solid;
                    border-color: rgb(250, 250, 250);
                    
                    padding: 7px;
                    margin-bottom: 8px;
                    border-radius: 8px;
                
                    height: 65px;
                    
                    font-size: small;
                    white-space: pre-wrap;
                    overflow-y: scroll;
                    line-height: 0.95;

                    font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;

                    color: rgb(170, 170, 170);

                    transition: all .1s ease-in-out;
                }

                    /* increasing contrast on hover */
                    div.user_text_div:hover {
                        color: rgb(125, 125, 125);
                    }

        
                /* wraps one or more buttons for the game controls*/
                div.game_controls {

                    /* background-color: rgb(221, 214, 214); */

                    display: grid;
                    grid-template-rows: 1fr;

                    justify-content: center;

                }

                    hr {

                        border-width:1px;
                        border-style: solid;
                        color:rgb(249, 249, 249);
                        width: 90%;
                        margin-bottom: 15px;
                    }
        
                    button {
                        border-color: rgb(158, 179, 205);
                        border-style: solid;
                        background-color: rgb(105, 145, 193);
                        
                        color: white;
                        
                        border-radius: 6px;
                        border-width: 3px;

                        padding: 8px 0px;
                        margin-bottom: 8px;

                        box-sizing: border-box;
                        width: 12vw; /* generic rule we overwrite later */

                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
                        font-size: 12px;
                        
                        transition: all .1s ease-in-out;

                    }

                    button.play_btn {

                        height: 6vh;
                        width: 10vw;

                        border-radius: 11px;
                        border-width: 4px;

                        font-size: 16px;
                    }

                    button:hover:enabled {

                        background-color: rgb(88, 126, 171); 
                        font-weight: 600;

                    }

                    button.back_nav_btn {

                        background-color: rgb(255, 255, 255);
                        border-color: rgb(255, 255, 255);

                        color: rgb(173, 171, 171);

                        width: max-content;
                        height: 30px;

                        padding: 0px;
                        margin: 0px;

                        font-weight: 600;
                        font-size: 23px;

                    }

                        button.back_nav_btn:hover {
                            color: #5e5d5d;
                            background-color: rgb(255, 255, 255);
                            border-color: rgb(255, 255, 255);
                        }

                    button:disabled {
                        border-color: rgb(220, 220, 220);
                        background-color: rgb(196, 195, 195);
                    }

                    div.join_input_div {
                        display: grid;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-items: center;

                    }

                        input.join_input_txt_class {

                            border-color: rgb(206, 206, 206);
                            border-style: dashed;
                            border-radius: 3px;

                            margin-bottom: 7px;

                            box-sizing: border-box;
                            width: 90%;
                            /*height: calc(100% - 2px);*/
                            padding: 5px;

                            font-family: 'Roboto Mono', monospace;
                            font-weight: 600;

                            font-size: 12px;
                            color: rgb(109, 109, 109);

                        }

                    input.join_input_txt_class:focus {
                        outline: none;

                        border-color: rgb(206, 206, 206);
                        border-style: solid;
                        border-radius: 3px;
                    }

                    button.exit_button {
                        height: 6vh;
                        width: 10vw;

                        border-radius: 11px;
                        border-width: 4px;

                        font-size: 16px;

                        background-color: rgb(235, 235, 235);
                        border-color: rgb(245, 245, 245);
                    }

                        button.exit_button:hover {
                            font-weight: 600;

                            background-color: rgb(255, 126, 126);
                            border-color: rgb(255, 191, 191);
                        }

                    div.exit_game_div {
                        display: grid;
                        grid-template-columns: auto auto;

                    }

                    button.exit_button_back {

                        background-color: rgb(216, 216, 216);
                        border-color: rgb(237, 236, 236);

                        width: 6vw;
                        margin-left:5px;
                        margin-right:5px;
                    }

                        button.exit_button_back:hover {
                            font-weight: 600;

                            background-color: rgb(206, 206, 206);
                        }

                    button.exit_button_confirm {

                        width: 6vw;
                        margin-left:5px;
                        margin-right:5px;

                    }

                    span.exit_game_txt{

                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
                        font-size: 13px;
                        color: rgb(126, 126, 126);
                    }

                /* Block for game options */
                div.game_options_wrapper {
                    
                    padding-left: 15px;
                    box-sizing: border-box;
                }

                    div.game_opt_item {

                        display: grid;
                        grid-template-columns: max-content max-content;
                        align-items: center;

                        font-size: 12px;
                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;

                        cursor: default;

                    }

                    div.game_opt_item_bottom_space {
                        margin-bottom: 0.3rem;
                    }

                    p.game_opt_title {
                        color: rgb(87, 87, 87);
                        font-size: 12px;
                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;

                    }

                    p.game_opt_subtitle {
                        color: rgb(140, 140, 140);
                        font-size: 12px;
                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;
                    }

                    /*
                    /* setting transition time equal for both img and span */
                    span.game_opt{
                        color: rgb(140, 140, 140);
                        transition: all .1s ease-in-out; 
                    }

                        div.game_opt_item:hover span.game_opt{ 
                            color: rgb(100, 100, 100); 
                        }

                    img.game_opt{
                        height: 28px;
                        width: 28px;
                        margin-right: 4px;
                        transition: all .1s ease-in-out; 
                        filter: opacity(70%)
                    }

                        div.game_opt_item:hover img.game_opt {
                            filter: opacity(81%);
                        }



                /* Block for controlling on/off audio and visual cues */
                div.component_settings_wrapper {
                    
                    padding-left: 15px;
                    box-sizing: border-box;
                }

                    div.settings_item {

                        display: grid;
                        grid-template-columns: max-content max-content;
                        align-items: center;

                        font-size: 12px;
                        font-family: 'Rubik', 'Roboto', 'Open Sans', sans-serif;

                        cursor: default;

                    }

                    div.item_bottom_space {
                        margin-bottom: 0.3rem;
                    }

                    img.set_img {
                        height: 28px;
                        width: 28px;
                        margin-right: 4px;
                    }

                    /* setting transition time equal for both img and span */
                    .set_on {
                        transition: all .1s ease-in-out;
                    }
                    .set_off {
                        transition: all .1s ease-in-out;
                    }

                        /* effect-anticipation <> click in both directions */
                        span.set_on{
                            color: rgb(140, 140, 140); 
                        }

                        img.set_on{
                            filter: invert(50%) sepia(79%) saturate(465%) hue-rotate(157deg) brightness(88%) contrast(91%);
                        }

                            div.settings_item:hover span.set_on{ 
                                color: rgb(160, 160, 160); 
                            }

                            div.settings_item:hover img.set_on{ 
                                filter: invert(61%) sepia(36%) saturate(456%) hue-rotate(156deg) brightness(103%) contrast(93%);
                            }

                            div.settings_item:hover span.set_off {
                                color: rgb(180, 180, 180);
                            }
                            div.settings_item:hover img.set_off {
                                filter: invert(81%) sepia(2%) saturate(3%) hue-rotate(316deg) brightness(87%) contrast(86%);
                            }
                       
                        span.set_off{
                            color: rgb(200, 200, 200);
                        }
                        img.set_off{
                            filter: invert(89%) sepia(1%) saturate(116%) hue-rotate(345deg) brightness(90%) contrast(97%);
                        }

                            

                            







