# NPM environment
node_modules

# VS code settings
**/.vscode/

# macOS artifact
.DS_Store

# temp storage, not used now 
*.jld2

# profiling data 
*.pb.gz

# certificates in /certs must be copied to the server for NGiNX to work
*.pem