# NPM environment
node_modules

# folders not bein versioned
client/dist/
docs/

# VS code settings
**/.vscode/

# macOS artifact
.DS_Store

# temp storage
*.jld2

# profiling data 
*.pb.gz

# certificates
*.pem